<!DOCTYPE html>
<html lang="it-IT">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Conagrivet App</title>

        <link rel="icon" href="data:">
        <link rel="api" href="//{{ app.request.getHttpHost() }}/api/v1/" />

        <!-- Highcharts -->
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.src.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.src.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.src.js"></script>
        <script src="https://code.highcharts.com/modules/offline-exporting.src.js"></script>

        <!-- Fullcalendar -->
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/locales-all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">

        {% for style in styles %}
            <link rel="stylesheet" href="/{{ base }}/assets/{{ style.getRelativePathname() }}">
        {% endfor %}

        {% for script in scripts %}
            <script type="module" src="/{{ base }}/{{ script.getRelativePathname() }}"></script>
        {% endfor %}

    </head>
    <body>
        <header id="header">
            <nav>
                <a href="/">Home</a>
                <a href="/analytics">Analytics</a>
                <a href="/calendar">Calendar</a>
            </nav>
        </header>
        <main id="content"></main>
        <footer id="footer"></footer>
    </body>
</html>
