<!DOCTYPE html>
<html lang="it-IT">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Contratto {{ recipient.name }}</title>

        <link rel="stylesheet" href="{{ asset(base ~ '/assets/styles/contracts.css') }}">

        <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>

    </head>
    <body>
        <main id="content">

            <article class="contract">
                <h1>
                    PSR Toscana 2014/2020<br/>
                    Sottomisura 2.1 “Sostegno ad avvalersi ai servizi di consulenza”<br/>
                    cup artea n&deg; 901854
                </h1>

                <section class="parties">
                    <p>Il giorno
                        <input class="fill-blank" type="text" size="4" />
                        del mese di
                        <input class="fill-blank" type="text" size="17" />
                        dell'anno
                        <input class="fill-blank" type="text" size="6" />
                        fra le parti:
                    </p>

                    <ul class="no-style">
                        <li>CONAGRIVET S.R.L. con sede legale in 53048 Sinalunga (SI), Via Faustina e Pietro Zappalorto n. 1 int. 8/C, C.F. e P.IVA 01487210526, in persona del Presidente del Consiglio di Amministrazione e Direttore Tecnico del progetto Per. Agr. Fiorenzo Belelli, nato a Castiglion Fiorentino (AR) il 23 gennaio 1973, C.F. BLLFNZ73A23C319W e domiciliato per la carica in 53048 Sinalunga (SI), Via Faustina e Pietro Zappalorto n. 1 int. 8/C, di seguito per brevità indicato come “soggetto fornitore del servizio di consulenza”;</li>
                        <li>
                            Sig./Sig.ra <input class="fill-blank" type="text" size="79"><br>
                            nato/a <input class="fill-blank" type="text" size="53" placeholder="San Valentino in Abruzzo Citeriore">
                            il <input class="fill-blank" type="text" size="15">
                            in qualità di titolare/legale rappresentante della ditta denominata {{ recipient.name|upper }}
                            con sede legale in <input class="fill-blank" type="text" size="76" placeholder="Via Dietro a San Michele dei Leprosetti, 123/B, 33020, San Valentino in Abruzzo Citeriore"><br>
                            ed operativa in <input class="fill-blank" type="text" size="74" placeholder="Via Dietro a San Michele dei Leprosetti, 123/B, 33020, San Valentino in Abruzzo Citeriore"> ,<br>

                            {% if not recipient.fiscalCode is empty %}
                            C.F. {{ recipient.fiscalCode|upper }},
                            {% endif %}

                            {% if not recipient.vatId is empty %}
                            P.IVA {{ recipient.vatId|upper }},
                            {% endif %}

                            iscritta alla Camera di Commercio di <input class="fill-blank" type="text" size="30" placeholder="verbano cusio ossola" /> ,
                            di seguito per brevità indicato come “destinatario finale del servizio di consulenza”;</li>
                    </ul>
                    <p>
                        dato atto che il servizio di consulenza sotto specificato beneficia di contributo del FEASR - Misura 2 PSR 2014-2020 della Regione Toscana, il destinatario finale del servizio di consulenza, con la sottoscrizione del presente contratto, conferisce al soggetto fornitore del servizio di consulenza formale incarico per la prestazione dei seguenti servizi di consulenza:
                    </p>
                </section>

                {% for service in services %}
                <section class="service">
                    <h2>servizio di consulenza {{ service.service.nameWithoutPrefix }}</h2>

                    <h3>Tematica e percorso di consulenza</h3>
                    <p><b>{{ service.service.category }}</b></p>

                    <h3>Descrizione sintetica del servizio</h3>
                    <p>{{ service.service.description |nl2br }}</p>

                    <h3>Motivazioni che rendono necessaria la consulenza</h3>
                    <ul>
                        {% for reason in service.service.reasons %}
                        <li>{{ reason|nl2br }}</li>
                        {% endfor %}
                    </ul>

                    <h3>Fasi della consulenza</h3>
                    <ol class="no-style">
                        {% for step in service.service.steps %}
                            <li>{{ step |nl2br }}</li>
                        {% endfor %}
                    </ol>

                    <section class="consultants">
                        <h3>Indicazione dei consulenti coinvolti</h3>
                        <ul class="consultants">
                            <li>
                                <span class="title">{{ service.consultant.title }}</span>
                                <span class="name">{{ service.consultant.name | upper }}</span>
                                {%- if not service.consultant.jobTitle is empty -%}
                                    , <span class="job">{{ service.consultant.jobTitle }}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </section>

                    <section class="expectations">
                        <h3>Risultati attesi</h3>
                        <p>{{ service.service.expectations |nl2br }}</p>
                    </section>

                    <section class="hours">
                        <h3>Ore di lavoro necessarie</h3>
                        <p>N. {{ service.service.hours }} ore di cui n. {{ service.service.hoursOnPremises }} ore da svolgere in presenza del destinatario finale del servizio di consulenza.</p>
                    </section>

                </section>
                {% endfor %}

                <section class="general">
                    <h2>condizioni generali</h2>

                    <h3>Tempi di svolgimento delle attività</h3>
                    <p>Dalla data di sottoscrizione del presente contratto, fino al giorno 01 marzo 2022. Le attività non potranno iniziare prima delle ore 8.00 e non potranno terminare dopo le ore 18.00, esclusi i giorni festivi e prefestivi.</p>

                    <h3>Onere finanziario complessivo, escluso oneri di legge</h3>
                    <p>L'onere complessivo dei servizi offerti ammonta a {{ amount |format_currency('EUR', locale='it') }}, di cui {{ amount_financed |format_currency('EUR', locale='it') }} sono a carico del destinatario finale dei servizi di consulenza.</p>

                    <h3>Modalità di pagamento</h3>
                    <p>
                        Vista fattura a mezzo bonifico bancario c/o BANCA CENTRO Credito Cooperativo Toscana – Umbria IBAN  IT65I0707572040000000722321, causale 'SALDO FATTURA N.
                        <input class="fill-blank" type="text" size="9">
                        DEL
                        <input class="fill-blank" type="text" size="15">
                        CUP ARTEA N. 901854'</p>

                    <h3>Dichiarazioni</h3>
                    <p>Il destinatario finale del servizio di consulenza dichiara:</p>
                    <ul>
                        <li>che non è stato superato il massimale di contributo FEASR per servizi di consulenza fissato in euro 4.500 nell’arco dell’intero periodo di programmazione e che, in caso di dichiarazione non veritiera, il contributo non sarà riconosciuto e dovrà egli sostenere per intero il costo dell’attività di consulenza;</li>
                        <li>di non essere impresa in difficoltà (art. 1, co. 6 del Reg. 702/2014) e di essere in regola con le disposizioni in materia di aiuti di stato (clausola Deggendorf) e che, in caso di dichiarazione non veritiera, il contributo non sarà riconosciuto e dovrà egli sostenere per intero il costo dell’attività di consulenza.</li>
                    </ul>

                    <h3>Disposizioni finali</h3>
                    <p>Il soggetto fornitore del servizio di consulenza garantirà la registrazione e la descrizione delle attività svolte da parte dei consulenti coinvolti nelle attività con specifica indicazione delle ore di lavoro svolte in presenza del destinatario finale. I consulenti dovranno pertanto redigere il time-sheet di riferimento, mentre il destinatario finale del servizio di consulenza dovrà attestare mediante apposita documentazione, da conservare in copia in azienda, le ore di lavoro svolte in sua presenza con la descrizione delle attività effettuate. Almeno il 30% delle attività di consulenza dovranno essere svolte in presenza del destinatario finale del singolo servizio di consulenza.</p>
                    <p>Il presente contratto decorre ed ha efficacia dalla data di sua sottoscrizione da ambo le parti. Per quanto qui non esplicitamente riportato si fa riferimento a quanto previsto nel codice civile agli artt. 2222 e successivi e dalle altre disposizioni di legge che risultino applicabili. In caso di eventuali controversie legali inerente e conseguenti a quanto stabilito con il presente contratto, è competente il Foro di Siena.</p>

                    <h3>Informativa e consenso al trattamento dei dati (Reg. UE n. 679/2016 “GDPR”)</h3>
                    <p>Il destinatario finale del servizio di consulenza abilita ed autorizza espressamente il soggetto fornitore del servizio di consulenza e in ogni caso i suoi collaboratori, i dipendenti, i Professionisti o Società allo stesso collegati/e e/o quanti ne abbiano titolo, a richiedere, divulgare, consegnare, inviare, ritirare e in ogni caso ad aver accesso a richiedere e/o consegnare documentazioni e informazioni, relativi alla propria persona e/o azienda presso qualunque ufficio o ente sia pubblico che privato. L’autorizzazione viene concessa per l’espletamento dell’incarico ricevuto con la sottoscrizione del presente contratto ed estesa a tutti i dati ordinari e non di cui al Regolamento (UE) n. 679/2016 (“GDPR”).</p>
                </section>

                <section class="signatures">
                    <p class="location">
                        Letto, confermato e sottoscritto il <input class="fill-blank" type="text" size="15">
                        a <input class="fill-blank" type="text" size="43"> .
                    </p>

                    <div class="signatures">
                        <div class="conagrivet">
                            <p>(Il soggetto fornitore del servizio di consulenza)</p>
                            <p>p. CONAGRIVET S.r.l.</p>
                            <p>Il Presidente del C.d.A.</p>
                            <p>Per. Agr. Fiorenzo Belelli</p>
                            <img src="{{ asset('/images/signature-fiorenzo.png') }}" width="1981" height="805" />
                            <input class="fill-blank" type="text" />
                        </div>
                        <div class="recipient">
                            <p>(Il destinatario finale del servizio di consulenza)</p>
                            <p>TIMBRO E FIRMA</p>
                            <input class="fill-blank" type="text" />
                        </div>
                    </div>
                </section>

            </article>
        </main>
    </body>
</html>
