<!DOCTYPE html>
<html lang="it-IT">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Programmazione consulenze in sede {{ schedule.uuid }}</title>

        <link rel="stylesheet" href="{{ asset(base ~ '/assets/styles/schedule.css') }}">

        <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
    </head>
    <body>
        <header id="header">
            <h1>CONAGRIVET S.r.l.</h1>
            <h2>Programmazione ore presso la sede del destinatario <br/> PSR Toscana 2014/2020 sottomisura 2.1, CUP ARTEA cup artea n&deg; 901854</h2>

            <h3>Periodo dal {{ schedule.from.format('Y-m-d') }} al {{ schedule.to.format('Y-m-d') }}</h3>

            <p class="stats">{{ schedule_manager.stats }}</p>
        </header>

        <main id="content">

            {% for consultant in consultants %}
            <article class="consultant">
                <header>
                    <h1>
                        <span class="name">{{ consultant.name | upper }}</span>
                        <span class="job">{{ consultant.job }}</span>
                        <span class="hours">{{ consultant.hours_on_premises }} ore presso la sede del destinatario</span>
                    </h1>
                </header>

                <div class="tasks">
                    <div class="headings">
                        <span>data</span>
                        <span>orario</span>
                        <span>destinatario</span>
                        <span>luogo</span>
                    </div>

                    {% for task in consultant.tasks %}
                    <div class="task">
                        <span>{{ task.date }}</span>
                        <span>{{ task.start }} - {{ task.end }}</span>
                        <span>{{ task.recipient }}</span>
                        <span>{{ task.location }}</span>
                    </div>
                    {% endfor %}
                </div>

            </article>
            {% endfor %}

        </main>
    </body>
</html>
